body {
    font-family: monospace;
    background-color: #121212;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 100%;
}

.horizontal {
    flex-direction: row;
}

.vertical {
    flex-direction: column;
}

.button {
    box-sizing: border-box;
    height: 1em;
    border-radius: 6px;
    background-color: #17171754;
    padding: 2em;
    color: #ffffffba;
    cursor: pointer;
    margin-top: 1em;
}

#rootContainer {
    padding: 3em 4em;
    box-sizing: border-box;
}

#rawMessageContainer {
    width: 100%;
    padding: 1em;
    background: linear-gradient(140deg, #11283c, #11283c47);
    color: #5d7098;
    border-radius: 6px;
    font-size: 1.2em;
    transition: color 0s;
}

#rawMessageContainer.stale {
  color: #5d70981f;
  transition:color 5s;
}

#adminControlsContainer {
    position: fixed;
    top: 0;
    right: 0;
    width: 25em;
    max-height: 90vh;
    align-items: baseline;
    background: #264e65d1;
    box-shadow: 4px 1px 20px 13px #00c4ff1f;
    border-radius: 0 0 0 6px;
    justify-content: start;
    padding: 0 1em 1em 1em;
}

#recordingsContainer {
    box-sizing: border-box;
    padding: 0 1.1em;
    overflow: scroll;
}

#recordingsContainer .button {
    margin-top: 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff1c;
}

#toggleRecordingButton {
    transition: animation 2s;
}

.recording {
    animation-name: onTheAir;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes onTheAir {
  from {background-color: #e82e2e9c;}
  to {background-color: #e82e2e2a;}
}

.playing {
    animation-name: playback;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes playback {
  from {background-color: #2ee83d9c;}
  to {background-color: #2ee83d27;}
}

.svgIcon {
    filter: invert(1);
}


.recordingIcon {
    margin-right: 1em;
}

.textbox {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    width: 90%;
    margin: 10px 5px 0 5px;
    background: #cecece38;
    padding: 0em 0.5em;
    border-radius: 4px;
    color: white;
    font-family: monospace;
    font-size: 0.9em;
    height: 2.4em;
}

.flipswitch {
    margin: 10px 5px 0px 5px;
    position: relative;
    width: 7em;
    height: 2.2em;
    -webkit-appearance: initial;
    border-radius: 2.4em;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 1em;
    font-family: monospace;
    cursor: pointer;
    background-color: #17171754;
    transition: background-color 0.3s ease-in 0s;
}

.flipswitch:after {
    position: absolute;
    width: 50%;
    height: 100%;
    background: #496170;
    transition: all 0.3s ease-in 0s;
    border-radius: 2em;
}

.flipswitch:after {
    left: 0;
    content: "";
}

.flipswitch:checked {
    background-color: #7fff0094;
}

.flipswitch:checked:after {
    left: 50%;
    content: "";
}

:disabled {
    filter: opacity(0.3);
    cursor: initial;
}

::placeholder {
    color: rgba(255, 255, 255, 0.37);
}

.ioConfigForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff2e;
    padding: 0 0 1em 0;
}

.formLabel {
    margin: 1em 0 0 0;
    color: #ffffff9e;
}

#wsPort, #oscDestinationPort {
    width: 3em;
}

#broadcastInterval {
    width: 5em;
}
