body {
    font-family: monospace;
    background-color: #121212;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 100%;
}

.horizontal {
    flex-direction: row;
}

.vertical {
    flex-direction: column;
}

.button {
    box-sizing: border-box;
    height: 1em;
    border-radius: 6px;
    background-color: #17171754;
    padding: 2em;
    color: #ffffffba;
    cursor: pointer;
    margin-top: 1em;
}

#rawMessageContainer {
    width: 90vw;
    height: 100%;
    padding: 1em;
    background: #11283c;
    color: #5d7098;
    border-radius: 6px;
    margin: 3em;
    font-size: 1.2em;
}

#adminControlsContainer {
    position: fixed;
    top: 0;
    right: 0;
    width: 25em;
    max-height: 90vh;
    align-items: baseline;
    background: #264e65d1;
    box-shadow: 4px 1px 20px 13px #00c4ff1f;
    border-radius: 0 0 0 6px;
    justify-content: start;
    padding: 0 1em 1em 1em;
}

#recordingsContainer {
    box-sizing: border-box;
    padding: 0 1.1em;
}

#recordingsContainer .button {
    margin-top: 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff1c;
}

#toggleRecordingButton {
    transition: animation 2s;
}

.recording {
    animation-name: onTheAir;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes onTheAir {
  from {background-color: #e82e2e9c;}
  to {background-color: #e82e2e2a;}
}

.playing {
    animation-name: playback;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes playback {
  from {background-color: #2ee83d9c;}
  to {background-color: #2ee83d27;}
}

.svgIcon {
    filter: invert(1);
}


.recordingIcon {
    margin-right: 1em;
}
